<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<!-- title, auther meta tag, enable mobile view -->
	<title>Wandering Wonderland Unique and Vintage clothing</title>
	<meta name="author" content="Jason Bierbrauer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Wandering Wondelrand Vintage re-sale sells unique and 
    vintage clothing and accessories."/>
    <meta name="keywords" content="Wandering Wonderland, Vintage clothing, Vintage resale, re-sale, 
    unique clothing, vintage accessories, Vintage accessories, Unique accessories, Unique resale, 
    one-of-a-kind clothing, one-of-a-kind accessories, armani, gucci, purse, shirt, jacket, coat, dress,
    vintage dress, vintage shirt, silk shirt, vintage jacket, leather jacket, unique coat"/>
	<!-- angularJS -->
	<meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />	
	<!-- bootstrapJS -->
	<link rel="stylesheet" href="css/bootstrap.css" />
	<script async="async" src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script async="async" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- CSS styling -->
	<link href="css/style.css" rel="stylesheet"/>

</head>
    <body>
       
<!--  header -->
			<header th:fragment="header">
			
			</header>
			
			<!-- nav bar layout version 2 -->
				<nav  th:fragment="nav" class="navbar navbar-toggleable-md navbar-inverse" style="background-color:  #292b2c;">
				  <button class="navbar-toggler navbar-toggler-center" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color:  #292b2c;">
				    <ul class="navbar-nav">
		          <li class="nav-item active">
		            <a class="nav-link" href="/">Home</a>
		          </li>
		          
		          <li class="nav-item active">
		            <a class="nav-link" href="/services">Services</a>
		          </li>
		          
		          <li class="nav-item active">
		            <a class="nav-link" href="/about">About us</a>
		          </li>
		          
		          <li class="nav-item active">
		            <a class="nav-link" href="/contact">Contact</a>
		          </li>
		          
		          <li class="nav-item active">
		            <a class="nav-link" href="/gallery">Gallery</a>
		          </li>
		          
		          <li th:if="${session.adminrole == true}" class="nav-item active">
		            <a class="nav-link" href="/admin">Admin</a>
		          </li>
	
				  <li th:if="${session.adminrole == true}" class="nav-item active">
		            <a class="nav-link" href="/login">Login/Logout</a>
		          </li>
		          
		        </ul>
		        
		      </div>
		    </nav>
		    
     
		    
		    <!-- jumbotron-->
		    <div th:fragment="jumbotron" class="jumbotron" th:style="'background:url(' + ${session.jumboMain.url} + ');
		      max-width: auto; height: auto;  background-position: 0% 25%; background-size: cover; background-repeat: no-repeat;'">
		      <div class="container" th:unless="${session.jumboMain == null}">
		        <h1 class="display-3" th:text="${session.jumboMain.headline}">headline</h1>
		        <p th:text="${session.jumboMain.content}">
		        This is an opportunity to talk about some of the services that your company can offer to your clients
		        Also if you have your own company banner already, that can be used instead of this generic one.
		         The button below will take you to the page describing the services in depth.</p>
		         <p><br/><br/><br/></p><!-- 
		        <p><a class="btn btn-primary btn-lg" href="/services" role="button">Learn more &raquo;</a></p> -->		      </div>
		      
		      <div class="jumbotron" th:if="${session.jumboMain == null}">
				<p>You have no JumboTron saved</p><br/>
			  </div>
		      
		    </div>
		    
		    
		    
		    
		   
		
				<!-- sample code for dropdown menu items -->
			      <ul>              
		          <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
				    <div class="dropdown-menu">
		              <a class="dropdown-item" href="/blueDB">Database Management</a>
		              <a class="dropdown-item" href="/encrypter">Text Encryption</a>
		              <a class="dropdown-item" href="/poker">Card Games</a>
		              <a class="dropdown-item" th:if="${session.adminrole == true}"
						 href="/adminpage">Admin Page</a>
				    </div>
				  </li>
				  
		          <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Misc</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/login">Login/Logout</a>
				      <a class="dropdown-item" href="/createlogin">Create Login</a>		      
		              <a class="dropdown-item" href="/guestbook">Guest book</a>
		              <a class="dropdown-item" href="/hobbies">Hobbies</a>
					  <a class="dropdown-item" href="/th-math">Calculator</a>
					  <a class="dropdown-item" href="/textfun">Messing around with words</a>
				    </div>
				  </li>
		          </ul>
		          
		     <!-- start of footer -->
			 <footer th:fragment="footer">
			     <!-- picture of my goat. -->
			     <!-- paragraph tag with class tag for style.css -->
			     <p class="footer">Website
			     <!-- secret link for administration login -->			     
			     <a class="secret" href="/login">#</a>
			      design by: Jason Bierbrauer</p>
			     <p class="footer">Contact information: <a href="mailto:jbierbrauer99@gmail.com">
			         jbierbrauer99@gmail.com</a>.</p>
			     
			</footer>
    </body>
</html>